.diary-container {
  width: 94vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .diary {
    background-color: #ffffff;
    position: absolute;
    top: 8rem;
    width: 395px;
    padding-bottom: 8px;
    border-radius: 10px;
      mat-card-content {
      display: flex;
      justify-content: center;
      textarea {
        width: 363px;
        height: 55px;
        padding: 1rem;
        margin: 1rem 0rem 0rem;
        border: 0.5px solid #f3f3f3db;
        background: #ffffff;
      }
    }

    div.card-header,
    mat-card-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #3e52be;
      button {
        background: none;
        mat-icon.emoji-icon{
            font-size: 2.5rem;
            position: relative;
            left: -15px;
            top: -7px;
        }
      }
      button.save {
        background: #224272;
        color: #ffffff;
        border-radius: 18px;
      }
    }

    .saved-diary-items {
      width: 375px;
      margin: 0 auto;
      border-radius: 4px;
      padding: 0 9px;
      margin-bottom: 1.6rem;
      margin-top: 17px;
      background-color: #e5e5e53b;
      color: #3e52be;
      .event-info-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p.time-info {
          display: flex;
          align-items: center;
          margin: 10px;
        }
      }
      span.input-text {
        display: inline-block;
        margin-bottom: 9px;
        margin-left: 12px;
        color: #3f434899;
      }
    }
  }
  //   .emoji-mart {
  //     font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  //     font-size: 16px;
  //     display: inline-block;
  //     color: red;
  //     border: 1px solid #d9d9d9;
  //     border-radius: 5px;
  //     background: #fff;
  //   }
}
